server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  root /usr/share/nginx/html;
  index index.html index.htm;

  server_name localhost;

  location / {
    try_files $uri $uri/ =404;

    sub_filter </head>
        '</head><script>window.localmode = true; </script>';
    sub_filter_once on;
  }

  location /service {
    rewrite ^/service/?(.*) /$1 break;
    proxy_pass http://host.docker.internal:${LOCAL_PORT};
  }

}
